.nav a:link {

}

.nav a:visited {

}

.nav a:hover {

}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  background-color: #3a1c1c !important;
}

body {
    position: static;
    width: auto;
    height: auto;
    margin: auto;
    min-width: 1080px;
    min-height: 720px;

    background-color: #5c2b2b;
}

#loginbody {
    background-color: transparent;
}

.navbar {
    background-color: #4d2828;
}